In [1]:
# imports
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
df2 = pd.read_csv('Traffic_Index.csv')

In [3]:
df = df2

In [5]:
# Drop unuseful columns
df = df.drop(['Date','date','fermata','dur','dur_p','benchmark','benchmark_p','traffic_p','Commute','high','Germany','Netherlands','Non-commute','NOx','NO','NO2','O3','PM10'],axis=1)
df.head()

,weekend,hour,traffic,sensi,Italy,Switzerland,prec,temp,hotel_guests,parkings,Total,Train,Road,Highway
0,0,6,0.000000,1.525777,NaN,NaN,0.933333,8.033333,NaN,NaN,NaN,NaN,NaN,NaN
1,0,7,0.327891,1.525777,NaN,NaN,0.850000,8.016667,NaN,NaN,NaN,NaN,NaN,NaN
2,0,8,0.093878,1.525777,NaN,NaN,0.383333,7.666667,NaN,NaN,NaN,NaN,NaN,NaN
3,0,9,0.322449,1.525777,NaN,NaN,0.116667,7.816667,NaN,NaN,NaN,NaN,NaN,NaN
4,0,10,0.246259,1.525777,NaN,NaN,0.033333,8.366667,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# drop NaN values
df = df.dropna()

"""
I change the values to numpy before putting them into the classifier
"""

# labels from data
labels = np.array(df['traffic'])
# drop label columns
df = df.drop('traffic',axis=1)
# Saving feature names for later use
feature_list = list(df.columns)

features = np.array(df)

# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (70369, 13)
Training Labels Shape: (70369,)
Testing Features Shape: (23457, 13)
Testing Labels Shape: (23457,)

In [7]:
# Instantiate model with 100 decision trees
rf = RandomForestRegressor(n_estimators = 100, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels);

In [8]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 0.29 degrees.

In [10]:
# Get numerical feature importances
importances = list(rf.feature_importances_)
# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(feature_list, importances)]
# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)
# Print out the feature and importances 
[print('Variable: {:10} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: sensi      Importance: 0.51
Variable: temp       Importance: 0.06
Variable: parkings   Importance: 0.06
Variable: Total      Importance: 0.06
Variable: Road       Importance: 0.06
Variable: hour       Importance: 0.05
Variable: Train      Importance: 0.05
Variable: Highway    Importance: 0.05
Variable: Italy      Importance: 0.03
Variable: hotel_guests Importance: 0.03
Variable: Switzerland Importance: 0.02
Variable: prec       Importance: 0.01
Variable: weekend    Importance: 0.0