# Reservations and stays in the hotels of Lugano

## Auxiliars

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
path = "../data/city_of_lugano/demographics/"

In [6]:
def read_quarterly_data(file_name):
    dfs = []
    for year in np.arange(2008, 2019):
        for quarter in np.arange(1, 5):
            df = pd.read_json(path+"{0}/{1}/".format(year, quarter)+file_name+'.json')
            df['year'] = year
            df['quarter'] = quarter
            df['yq'] = pd.datetime(year,quarter*3-2,1)
            dfs.append(df)

    df = pd.concat(dfs)
    return df

## Analysis

In [12]:
df = pd.read_csv("../data/h_benchmark/Lugano-prenotazioniv2.csv", sep=';', dtype=str)
df.head(5)

,Prenotazione ID,Arrivo,Partenza,Durata,Data Creazione,Data Cancellazione,Camere Vendute,Ospiti,Ricavo Complessivo,Ricavo Camere,Tipo Camera,Stato,Trattamento,Canale,Mercato,Nazionalità
0,43469,04-gen-19,07-gen-19,3,04-gen-19,NaN,1,2,0,0,JS - TVL,Cancellata,Bed & Breakfast,Sito Web,Gruppi Leisure,Italia
1,43623,06-giu-19,16-giu-19,10,07-giu-19,NaN,1,2,0,0,JS - TVL,Cancellata,Bed & Breakfast,Sito Web,Gruppi Leisure,Non Specificato
2,43505,09-feb-19,11-feb-19,2,10-feb-19,NaN,1,1,0,0,JS - TVL,Cancellata,Bed & Breakfast,Sito Web,Gruppi Leisure,Non Specificato
3,43512,16-feb-19,18-feb-19,2,16-feb-19,NaN,1,2,0,0,SUI- TVL,Cancellata,Bed & Breakfast,Sito Web,Gruppi Business,Svizzera
4,43601,16-mag-19,19-mag-19,3,16-mag-19,NaN,1,2,0,0,JS - TVL,Cancellata,Bed & Breakfast,Sito Web,Gruppi Business,Svizzera

In [17]:
df.columns = [
    "id",
    "date-arrived",
    "date-left",
    "duration",
    "date-creation",
    "date-cancellation",
    "num-reserved-rooms",
    "num-guests",
    "overall-revenue",
    "rooms-revenue",
    "room-type",
    "state",
    "treatment",
    "channel",
    "market",
    "nationatily"
]

In [18]:
df.head()

,id,date-arrived,date-left,duration,date-creation,date-cancellation,num-reserved-rooms,num-guests,overall-revenue,rooms-revenue,room-type,state,treatment,channel,market,nationatily
0,43469,04-gen-19,07-gen-19,3,04-gen-19,NaN,1,2,0,0,JS - TVL,Cancellata,Bed & Breakfast,Sito Web,Gruppi Leisure,Italia
1,43623,06-giu-19,16-giu-19,10,07-giu-19,NaN,1,2,0,0,JS - TVL,Cancellata,Bed & Breakfast,Sito Web,Gruppi Leisure,Non Specificato
2,43505,09-feb-19,11-feb-19,2,10-feb-19,NaN,1,1,0,0,JS - TVL,Cancellata,Bed & Breakfast,Sito Web,Gruppi Leisure,Non Specificato
3,43512,16-feb-19,18-feb-19,2,16-feb-19,NaN,1,2,0,0,SUI- TVL,Cancellata,Bed & Breakfast,Sito Web,Gruppi Business,Svizzera
4,43601,16-mag-19,19-mag-19,3,16-mag-19,NaN,1,2,0,0,JS - TVL,Cancellata,Bed & Breakfast,Sito Web,Gruppi Business,Svizzera

In [24]:
pd.to_datetime(df["date-arrived"], format='%d-%b-%y')

ValueError: time data '04-gen-19' does not match format '%d-%b-%y' (match)